*{margin: 0; padding: 0;
list-style-type: none;
box-sizing: border-box;
text-decoration: none;}
h3{font-size: 20px;color: brown;}
.header{padding: 5px;gap: 5px; background-color: aqua; display: flex; flex-direction: row; justify-content: space-around;}
li{width: 100px; padding: 10px; display: flex; flex-direction: row;}
.grilla{display: grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr))}
.grilla>div{border: 5px solid chartreuse;
padding: 20px; background-color: blueviolet;
text-align: center;}
